*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.lo>h1{
	color: white;
	font-size: 48px;
	text-align: center;
	padding-top: 50px;
}



.lo>h1{
	color: white;
	text-decoration: none;
	font-size: 38px;
	transition: 1s;
	padding-top: 50px;
	text-align: center;
}


.l h1{
	color: white;
	text-decoration: none;
	font-size: 42px;
	transition: .5s;
	padding-left: 550px;
}


.l>h1:hover{
	color: lightgreen;
	font-size: 48px;
	transition: .5s;
}