*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.end>h1{
	color: white;
	font-size: 48px;
	text-align: center;
	padding-top: 50px;
}



.end>h1{
	color: white;
	text-decoration: none;
	font-size: 38px;
	transition: 1s;
	padding-top: 50px;
	text-align: center;
}


.t a{
	color: white;
	text-decoration: none;
	font-size: 42px;
	transition: .5s;
	padding-left: 700px;
}


.t>a:hover{
	color: lightgreen;
	font-size: 48px;
	transition: .5s;
}